<div class="jumbotron">
  <center>
    <h1><%= @bean.blend %></h1>
    <img src="<%= @bean.image %>">
  </center>
  <h3>Flavor: <%= @bean.flavor %></h3>
  <h3>Size: <%= @bean.size %></h3>
  <h3>Brew: <%= @bean.brew %></h3>
  <h3>Cost: $<%= @bean.cost %></h3>
</div>



